<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "Daily Quiz", root_path, class: 'brand' %>
      <% if signed_in? %>
      <span>
        Hi, <%= current_user.name %>!
      </span>
      <% end %>
      <div class="nav-collapse collapse pull-right">
        <ul class="nav">
          <% if !signed_in? %>
          <li>
            <a href="#login" role="button" data-toggle="modal">Login</a>
          </li>
          <% else %>
          <li>
            <%= link_to "Logout", logout_path, method: "delete" %>
          </li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>